/* Font */
#hero-text > h1 {
    font-size: calc(30px + 1vmin);
    font-weight: 600;
}

/* Hero */

#hero {
    width: 100vw;
    max-width: 100%;
    padding-top: calc(7vh + 10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#hero-deco {
    background-color: #3F90BE;
    height: min(300px, 50vw);
    width: min(300px, 50vw);
    border-radius: 25px;
    margin-top: 10px;
}

#hero-text{
    padding: 20px;
    text-align: left;
    margin: 30px;
}

#hero-text > * {
    margin: 5px 0;
    
}

#heroDescription {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
}

#typingEffect {
    max-width: fit-content;
    display: inline-flex;
    font-size: inherit;
    font-family: inherit;
    color: blue;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(7) infinite alternate;
}

#underscore {
    font-size: inherit;
    animation: blinkingUnderscore 1s linear  infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    20% {
        width: 0;
    }
    40%{
        width: 25%;
    }

    80% {
        width: 50%;
    }
    100% {
        width: 50%;
    }
}
@keyframes blinkingUnderscore {
    0%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@media screen and (min-width: 800px) {
    #hero {
        min-height: 900px;
        padding: 0;
    }

    #hero-text {
        width: min(50%, 50vw);
        text-align: left;
    }
}