/* Font */
#hero-text > h1 {
    font-size: calc(30px + 1vmin);
    font-weight: 600;
}

/* Hero */
#hero {
    width: 100vw;
    max-width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: min(1000px, 100vh);
    grid-template-columns: 0.2fr repeat(3, 1fr)  0.2fr; 
    grid-template-rows:  0.5fr 1fr 0.5fr; 
    gap: 10px;
    position: relative
    
}
/* .bg-with-filter {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: blur(3px) grayscale(30%);
    background: no-repeat  url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80') center / cover;
} */

.hero-content {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    z-index: 3;
    grid-area: 1 / 2 / span 3 / span 3;
    justify-self: center;
    margin-bottom: 10vh;
    /* backdrop-filter: blur(10px); */
}

#heroHr {
align-self: flex-start;
width: 100%;
}
/* Text */

#hero-text{
    padding: 20px;
    text-align: left;
}

#hero-text > h1, #hero-text p {
    margin: 5px 0;
    z-index: 3;
}

#heroDescription {
    font-size: 1.3rem;
    line-height: 1.7;
}

/* Typed out name */

#typingEffect {
    max-width: fit-content;
    display: inline-flex;
    font: inherit;
    color: rgb(75, 159, 255);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(7) infinite alternate;
}

#underscore {
    font-size: inherit;
    animation: blinkingUnderscore 1s linear  infinite;
}

/* Nav buttons */

#hero-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: FadeIn 1s ease-in-out forwards;
}

.heroNavButtons {
    border: 1px solid rgba(41, 156, 209, 0.822);
    /* background-color: rgba(41, 156, 209, 0.822); */
    background-color: transparent;
    color: rgb(36, 36, 36);
    border-radius: 0%;
    font-size: inherit;
    transition: all 1s linear;
}
.heroNavButtons:hover {
    cursor: pointer;
}
.heroNavButtons a {
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
}

.right-angle-brackets {
    display: inline-block;
    margin-right: 5px;
    height: 18px;
    transition: transform 0.3s;
    fill: white;
}

#hero-buttons > button:hover .right-angle-brackets {
    color: black;
    transform: rotate(90deg);
}

/* Background Elements */
.hero-deco {
    z-index: 2;
}

#hero-background {
    height: 180px;
    grid-area: 1 / 1 / span 2 / 3;
    align-self: center;
    justify-self: start;
    animation: moveinleft 2s ease-in-out 1s forwards;
}

#hero-background2 {
    background-color: rgb(182, 215, 230);
    height: 200px;
    justify-self: end;
    align-self: center;
    grid-area: 2 / 3 / span 2 / -1;
    animation: moveinright 2s ease-in-out 1s forwards;
}

#hero-background3 {
    /* background-color: rgb(125, 102, 255); */
    width: 20%;
    justify-self: center;
    align-self: start;
    grid-area: 1 / 4 / -1 / span 1;
    animation: moveinTop 2s ease-in-out 1.2s forwards;
    margin-top: none;
    padding-top: none;
}

/* Animations */

@keyframes moveinleft {
    0%{
        opacity: 0;
        width: 0%;
        border: none;
    }
    30%{
        opacity: 0;
        width: 0%;
        border:  10px solid var(--left-border-color);
        border-left: none;
    }

    100%{
        opacity: 1;
        width: 100%;
        border:  10px solid var(--left-border-color);
        border-left: none;
    }
}

@keyframes moveinright {
    0%{
        opacity: 0;
        width: 0%;
    }
    30%{
        opacity: 0;
        width: 0%;
    }

    100%{
        opacity: 1;
        width: 85%;
    }
}


@keyframes moveinTop {
    0%{
        opacity: 0;
        border: none;
    }
    30%{
        opacity: 0;
        border: 10px solid var(--top-border-color);
        border-top: none;
        height: 0%;
    }

    100%{
        opacity: 1;
        border: 10px solid var(--top-border-color);
        border-top: none;
        height: 90%;
    }
}

@keyframes FadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    20% {
        width: 0;
    }
    40%{
        width: 25%;
    }
    80% {
        width: 50%;
    }
    100% {
        width: 50%;
    }
}
@keyframes blinkingUnderscore {
    0%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
/* Media Queries */

@media screen and (min-width: 800px) {
    #hero {
        padding: 0;
    }

    #hero-text {
        width: min(70%, 70vw);
        text-align: left;
    }
}
