 /*Header*/
#header {
    border-bottom: 1px solid gray;
    height: calc(7vh + 5px);
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: aliceblue;
    padding-bottom: 5px;
    z-index: 4;
}

#header > *{
    margin: 0 30px;
}

#siteLogo {
    font-family: 'JetBrains Mono', monospace;
    font-size: 2.1rem;
}

#burgerNav {
    display: none;
    background: url('../../assets/icons/bars.svg') no-repeat;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 0;
}

#burgerNav:hover {
    cursor: pointer;
}

#navMenu > ul {
    display: inline-flex;
}

#navMenu > ul li {
    margin: 10px;
}

.navLink {
    display: inline-block;
    color: rgb(20, 24, 29);
    padding: 10px;
    font-weight: 600;
}

#navMenu .navLink:hover {
    background-color: #3F90BE;
}

#navMenu .navLink:active {
    color: white;
    background-color: #1c3c4e;
}

/*Animation*/
#siteLogo::after{
    content: "_";
    color: darkblue;
    animation: blinkingUnderscore 1s infinite;
}

@keyframes blinkingUnderscore {
    0%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

/* Media Queries */

@media screen and (max-aspect-ratio: 8 / 10), (max-width: 800px) {
    #siteLogo {
        font-size: 1.5em;
    }
    /* For mobile Display */
    #burgerNav {
        display: block;
    }
    #navMenu {
        display: none;
        position: absolute;
        left: 0;
        top: calc(7vh + 11px);
        flex-flow: column wrap;
        background-color: aliceblue;
    }
    #navMenu > ul {
        width: 100vw;
        flex-flow: column wrap;
    }
    #navMenu > ul li{
        margin: 0;
    }
    .navLink {
    width: 100vw;
    }
}