.contactInfo {
    background-color: rgb(164, 206, 255);
    min-height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    line-height: 1.6;
}

.contactfaIcon {
    color: var(--dark-blue);
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.contactInfo a {
    font-size: 0.9em;
}

@media screen and (min-width: 900px) {
    .contactInfo {
        width: 40%;
        height: 100%;
    }
}