#skills > section {
    margin: 20px 0;
}

#skills > section > * {
    margin: 20px;
    text-align: center;
}

.skill-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}