/*Footer*/
#footer {
    background-color: #2e75d3;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

hr {
    width: 70%;
}

.contact-icon-set {
    display: flex;
}