:root {
  /* Color Variables */
  --left-border-color: rgb(181, 213, 241);
  --right-retangle-color: rgb(212, 204, 255);
  --top-border-color: #98e9d7;

  --dark-blue: #072A40;
  --mid-blue: #009bca;
  --light-aqua: #18B7BE;
  --light-grey: #F9F7F0;

  --dark-grey: rgb(50, 50, 50);

  --light-BG: rgb(244, 251, 252);
  --dark-BG: #3e7ea5;
  --social-border-color: rgb(255, 255, 255);
  --link-color: rgb(6, 109, 168);
  --typing-color: rgb(0, 162, 255);

  /* Nav height */
  --nav-bar-height: calc(6vh + 5px);
}

/*Additional Reset and Initialzie */
html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-bar-height);
  max-width: 100vw;
  background-color: aliceblue;
}

button {
  border: none;
  width: auto;
  padding: 0 20px;
  height: 50px;
  margin: 5px;
  border-radius: 25px;
}

/* Fonts  */
h1 {
  font-family: 'JetBrains Mono', monospace;
}

h2, h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h2 {
  font-size: 2.3em;
  font-weight: 700;
  padding: 10px;
}

h3 {
  font-size: 1.9rem;
  font-weight: 500;
}

h4 {
  font-size: 1.4rem;
}

p, a, span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
p {
  font-size: 1.3rem;
}
a {
  color: var(--link-color);
  text-decoration: none;
  font-style: italic;
}

em {
  font-style: italic;
}

strong {
font-weight: 500;
}

/* <Main> Content */
main {
  margin-top: var(--nav-bar-height); 
  min-height: 800px;
}

main > section:nth-of-type(2n) {
  background-color: var(--dark-BG);
  color: white;
}

main > section:nth-of-type(2n + 1) {
  background-color: var(--light-BG);
  color: black;
}