.App {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/*Additional Reset and Initialzie */
html{
  scroll-behavior: smooth;
}

button {
  border: none;
}

h2 {
  font-size: 2.3em;
  font-weight: 700;
}

section > h2 {
  text-align: center;
  padding: 10px;
}

h2, h3 {
  font-family: 'JetBrains Mono', monospace;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

p, a, span {
  font-family: 'Zen Kaku Gothic Antique';
  font-size: 16px;
}

a {
  color: #61dafb;
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
}
