 /*Skill Tag*/
.skill-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid grey;
    height: 30px;
    min-width: 40px;
    margin: 5px 10px;
    background-color: rgba(138, 207, 207, 0.185);
}

.skill-icon {
    height: 30px;
    width:30px;
}