 /* Projects */
#projectShowcase {
    display: block;
    width: 100%;
    padding: 10vh 0;
    background-color: #185172;
}

#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

#projectShowcase h2 {
    text-align: center;
    color: white;
}